@model Cusrim.Core.Models.Company
@{
    ViewBag.Title = "CompanyDetails";
}



@{
    Html.RenderPartial("../Navbar");
}

    <h2>@Model.Name</h2>
    <div class="container" style=" display: block; margin-left: auto; margin-right: auto; width: 50%;">
        <div>
            <h5>Name: @Model.Name</h5>
        </div>
        <div>
            <h5>Contact Number: @Model.ContactNo</h5>
        </div>  <div>
            <h5>Address: @Model.Address</h5>
        </div>  <div>
            <h5>Location: @Model.Location</h5>
        </div>
        <div>
            <h5>Email: @Model.Email</h5>
        </div>
        <div>
            <h5>Website: @Model.Website</h5>
        </div>
        <div>
            <h5>Job Function: @Model.JobFunction</h5>
        </div>
        <a class="bottomNav" onclick="history.go(-1); return false;" href="#">Back</a>
        <br />
    </div>

