@model Cusrim.Core.ViewModels.FacultyDetails
@{
    ViewBag.Title = "facultyDetails";
}


@{
    Html.RenderPartial("../Navbar");
}

    <div class="container" style=" display: block; margin-left: auto; margin-right: auto; width: 50%;">
        <div>
            <h5>Name: @Model.Faculty.Name</h5>
        </div>
        <div>
            <h5>Staff Number: @Model.Faculty.StaffNo</h5>
        </div>  <div>
            <h5>Department: @Model.Faculty.Department</h5>
        </div>  <div>
            <h5>Email: @Model.Faculty.Email</h5>
        </div>
        <div>
            <h5>Phone Number: @Model.Faculty.PhoneNumber</h5>
        </div>
        <div>
            <h5>Number of Supervisees: @Model.Faculty.StudentCount</h5>
        </div>


        <br />

        <div>
            <h3>
                Supervisees
            </h3>
            <hr />
        </div>
        <table id="table" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th> Name</th>
                    <th>Matric Number</th>
                    <th>Department</th>
                    <th>Level</th>
                    <th>Grade</th>
                    <th>action</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var student in Model.Students)
                {

                <tr>
                    <td>@student.Name</td>

                    <td>@student.MatricNo</td>
                    <td>@student.Department</td>
                    <td>@student.Level</td>

                    <td>@student.Grade</td>
                    <td>

                        <div class="pull-left">
                            @Html.ActionLink("Unassign", "Unassign", "Admin", new { id = student.Id }, new { @class = "table_extra" })
                        </div>



                    </td>
                </tr>

                }
            </tbody>
        </table>
        <a class="bottomNav" onclick="history.go(-1); return false;" href="#">Back</a>
    </div>
